.Content h1{
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #0a202b;
    text-transform: none;
    text-shadow: none;
    text-align: left;
}
@media all and (max-width:780px){
    .Content h1{
        margin-left:15px;
    }
}
