<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body> 
    <div class="App">
         <!-- <div class = "main">         
         <ul>
                <li>
                <a href="home.html">HOME</a>    
                </li>
            </ul>
            <ul>
                    <li>
                    <a href="html.html">Sticks</a>    
                    </li>
                </ul>
                <ul>
                        <li>
                        <a href="css.html">Shop</a>    
                        </li>
                    </ul>
                    <ul>
                            <li>
                            <a href="about.html">About</a>    
                            </li>
                        </ul>
                        <ul>
                                <li>
                                <a href="contact.html">Contact</a>    
                                </li>
                            </ul>
                                        </li>
                                    </ul>
                                </div> -->
                                 <div class = "firstimage">
                                    <img src = "5.png" />
                                    <button onclick="window.location.href='home.html';" class="btn">Home</button>
                                </div>
                                <div class ="secondimage">
                                    <img src = "5.png" />
                                    <button onclick="window.location.href='shop.html';" class="btn1">Shop</button>
                                </div>
                                 <div class="thirdimage">
                                    <img src = "5.png" />
                                    <button onclick="window.location.href='sticks.html';" class="btn2">Sticks</button>
                                </div>
                                <!-- <div class="fourthimage">
                                    <img src = "5.png" />
                                    <button onclick="window.location.href='magic.html';" class="btn3">Magic</button>
                                </div> -->
                                 <div class="space"></div>
                                <div class = "witchbottle">
                                    <img src="7.gif"/>
                                    <button onclick="window.location.href='shop.html';" class="btn4"><strong>Explore Hogwarts with us</strong></button>
                                </div>  
                              
    </div>
</body>
</html>