.Statistics{
 width:100%;
 display:flex;
 flex-direction:row;
 
}

.paragraph{
width:30%;
 font-size:40%;
 top:30%;
}
.p{
 color:white;
 }
 .histogram{
 width:30% !important;
 height:50%;
 }
 
